.stc-content .stc-install { font-family: verdana; font-size: 12px; }
.stc-content .stc-install h4 { color: #555; }
.stc-content .stc-install .reinst { margin: 10px; }
.stc-content .stc-install .ins-submit { text-align: right; margin-top: 20px; }
.stc-content .stc-install .ins-menu { width: 363px; height: 343px; border: 2px double #ccc; border-radius: 4px; background: url("../img/menu.png") no-repeat; margin: 10px; }
.stc-content .stc-install .stc-logo { width: 165px; height: 173px; background: url("../img/logo.png") no-repeat; float: right; }
